header {
  height: 500px;
  max-width: 980px;
  margin: 0 auto;
}

.locale-selector {
  margin: 0 0 0 auto;
}

.horizontal-list {
  width: 100%;
  display: flex;
  margin: 25px 0;
  padding: 10px;
}

h1 {
  margin: auto auto auto 100px;
}
