header {
  height: 500px;
  max-width: 980px;
  margin: 0 auto;
}

.locale-selector {
  /* localeProps の数に依存 
  80px × localePropsのlength) */
  width: 160px;
  height: 36px;
  margin: 0 0 0 auto;
}

.horizontal-list {
  width: 100%;
  display: flex;
  margin: 25px 0;
  padding: 10px;
}

h1 {
  font-weight: 900;
  font-size: 3.5em;
  margin: auto auto auto 100px;
}